@import url("./reset.scss");
@import url("./themes/dark.scss");
@import url("./themes/light.scss");
@import url("./vars/global.scss");

body {
  color: var(--secondary-color);
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wr {
  flex-grow: 1;
  padding: 20px;
}