.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  left: 0;
  z-index: var(--modal-z-index);
  opacity: -1;
  pointer-events: none;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--overlay-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    padding: 30px;
    border-radius: 10px;
    background: var(--bg-color-inverted);
    max-width: 50%;
    transform: scale(0);
    transition: .3s transform;
  }

  &.opened {
    opacity: 1;
    pointer-events: all;

    .content {
      transform: scale(1);
    }
  }

  &.closing {
    .content {
      transform: scale(0);
    }
  }
}



