:root {
  --font-family-main: verdana, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
  --bg-color: #fff;
  --bg-color-inverted: rgb(40 40 40);
  --primary-color: rgb(0 0 0);
  --secondary-color: #414143;
  --primary-color-inverted: rgb(228 228 228);
  --secondary-color-inverted: #f5f5f5;
  --modal-z-index: 10;
  --overlay-bg-color: rgba( 0 0 0 / 80%);
}