.app.app_orange_theme {
  --primary-color: #9a1a0e;
  --secondary-color: #d01f0e;
  --primary-color-inverted: #dbd5dc;
  --secondary-color-inverted: #faf4fb;
  --bg-color: #faf4fb;
  --bg-color-inverted: #bd5012;
  --secondary-bg-color: #e9e9e9;
  --secondary-bg-color-inverted: #bd5012;
}