.ProfileCard {
  padding: 0;
}

.loaderWr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.errorWr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

